CSV_PATH=data-subset/google-books-subset.csv
CHUNK_SIZE=5000

POSTGRES_USER=library_dev_user
POSTGRES_PASSWORD=library_dev_pass
POSTGRES_DB=library-postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
SQL_URI=postgresql://library_dev_user:library_dev_pass@localhost:5432/library-postgres

FLASK_DEBUG=True
FLASK_SECRET_KEY={ Random string }
JWT_PRIVATE_KEY={ An EC private key. }
JWT_PUBLIC_KEY={ An EC public key. }
